/src/.vs
/src/FastNet.Framework.RabbitMQ/bin
/src/FastNet.Framework.Mongo/bin
/src/FastNet.Framework.Dapper/bin
/src/Test/Test.Redis/bin
/src/Test/Test.RabbitMq.Publisher/bin
/src/Test/Test.RabbitMq.Consumer/bin
/src/FastNet.Framework.Redis/bin
/src/Test/Test.Redis/obj
/src/Test/Test.RabbitMq.Publisher/obj
/src/Test/Test.RabbitMq.Consumer/obj
/src/FastNet.Framework.Redis/obj
/src/FastNet.Framework.RabbitMQ/obj
/src/FastNet.Framework.Mongo/obj
/src/FastNet.Framework.Dapper/obj
/src/FastNet.Framework.NetCrawler/bin
/src/FastNet.Framework.NetCrawler/obj
/src/FastNet.Framework.JwtAuthorize/obj
/src/FastNet.Framework.JwtAuthorize/bin
/src/Test/Test.JwtAuthorize.WebApi/obj
/src/Test/Test.JwtAuthorize.WebApi/bin
/src/FastNet.Framework.Consul/obj
/src/FastNet.Framework.Consul/bin
/src/Test/Test.Consul.A/obj
/src/Test/Test.Consul.A/bin
/src/Test/Test.Consul.B/obj
/src/Test/Test.Consul.B/bin
